# Ejemplo de configuración de Base de Datos
# Reemplaza 'admin', 'secret' y 'banpay_db' con tus credenciales si no usas Docker
DATABASE_URL=postgresql://admin:secret@db:5432/banpay_db


# seed
ADMIN_USERNAME=admin_master
ADMIN_EMAIL=admin@banpay.com
ADMIN_PASSWORD=TuContrasenaSuperSegura2026


SECRET_KEY = "clave_secreta_jwt"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
